*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

#body{
  min-height: 30vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  overflow:hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.header{
  background-color: #041e42;
  color: white;
  width: 100%;
  text-align: center;
  height: 170px;
  padding: 30px ;
}

.header-title{
  font-size: 50px;
}

.section{
  flex-flow: row wrap;
  width: 90%;
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-content: center;
  
}
.contact-container  {
  flex-flow: column;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  width:100%;
}

.div-title {
  position: relative;
  left: 50px;
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  width: 100%;
}
.div-titlecard {
  font-size: 30px;
  font-weight: 500;
  color: black;
}
#sect1{
  position: relative;
  left: 50px;
  width: 100%;
  color: wheat;
}
#sect2{
  position: relative;
  top: -40px;
  width:100%;
  float: right;
}
.contact-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
}
.input-field {
  height: 40px;
  width: 200px;
  margin: 15px 0;
  display: block;
}
.contact-btn {
  margin-top: 15px;
  height: 40px;
  width: 160px;
  color: #ffffff;
  border: 0;
  background-color: #f4511e;
  display: block;
}
.bg-grey{
  background-color:#e6e3e3;
}
hr {
  position: relative;
  left: 60px;
}
#company {
  color: #ffffff;
  font-weight: 500;
  position: relative;
  left: 60px;
}
a {
  color: #ffffff;
  position: relative;
  left: 1175px;
  top: -20px;
}
@media only screen and (min-width:320px) and (max-width:725px){
  .contact-form{
    display: flex;
    flex-direction: column;
    /*flex-flow: row wrap;*/
    width:80%;
  }

.section > div {
  padding: 30px;
}

.small-div {
  width: 20%;
}

.big-div {
  width: 80%;
}


.div-title {
  font-size: 30px;
  font-weight: 600;
}


.div-title{
  text-align: center;
}


  
}

